<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="techiz_newsletter" id="techiz_newsletter">
            <module name="Techiz_Newsletter"/>
        </route>
    </router>
</config>
